[2016-05-05 15:35] d12frosted opened #1 "Add screenshots"
Just like `helm-flyspell`, `flyspell-correct` also should have some nice screenshots to attract users.

[2016-05-05 15:36] d12frosted opened #2 "Add package to MELPA"
Once it's available on MELPA, add MELPA badge

[2016-05-06 10:05] d12frosted opened #4 "Add popup interface"
There is a package [flyspell-popup](https://github.com/xuchunyang/flyspell-popup) by xuchunyang. It would be nice to have this interface in flyspell-correct arsenal.

[2016-05-06 10:05] d12frosted opened #5 "Save commands for ivy interface"

[2016-05-06 12:12] #4 closed

[2016-05-06 13:53] d12frosted commented on #2
Recipe is added to MELPA via https://github.com/melpa/melpa/pull/3858. Waiting for build to finish.

[2016-05-06 14:04] #2 closed

[2016-05-06 14:26] #5 closed

[2016-05-07 07:51] manuel-uberti opened #7 "Can't use flyspell-correct-word"
Hi,

first of all thanks for the package and for the chance to use Ivy with Flyspell.

I'm using latest `flyspell-correct` from MELPA. Whenever I issue `flyspell-correct-word` on mispelled a word, this is the message that I get:
[code]
I am using GNU Emacs 25.0.93.1 (x86_64-debian-linux-gnu, GTK+ Version 3.14.5) of 2016-05-06.

[2016-05-07 08:09] d12frosted commented on #7
Ah. That's because the function called `flyspell-correct-word-generic` and not `flyspell-correct-word` :)

[2016-05-07 08:12] manuel-uberti commented on #7
Oh yes, I'm an idiot. It works just fine. :)

[2016-05-07 08:12] #7 closed

[2016-05-07 08:28] d12frosted commented on #7
Don't blame yourself :) I think it's also because I didn't use a better name.

[2016-05-07 08:51] d12frosted opened #8 "Use actions for save commands in ivy interface"
Instead of placing commands inside of list of candidates, use actions for them.

Following https://github.com/abo-abo/swiper/issues/455

CC @manuel-uberti

[2016-05-07 09:44] manuel-uberti commented on #8
I'm not that good with Elisp, but I guess what we need here is something like:
[code]
Just need to figure out the actual actions to call.

[2016-05-07 10:23] manuel-uberti commented on #8
Studying the code a bit further, I guess every action should be able to call `flyspell-do-correct` with the given command (`'save'`, `'buffer` or `'session`).
Problem is (for me, at least) figuring out the other parameters of `flyspell-do-correct`:
[code]

[2016-05-07 12:42] manuel-uberti commented on #8
Still studying (I know, I suck :) ).
[code]
It seems to me that ivy-actions should be able to return a result that `flyspell-correct-word-generic` can use when it is about to call `flyspell-do-correct`.

We might need @abo-abo's help here, because I'm a bit lost.

[2016-05-07 14:35] abo-abo commented on #8
If you want actions, just write them down. You'll need these stand-alone functions:

[code]

Once you have them, it's really easy. And it's nice to have them in any case, maybe even make them `(interactive)`.

[2016-05-07 15:38] manuel-uberti commented on #8
Thank you, I'll give it a try.

[2016-05-07 15:54] d12frosted commented on #8
Ah sorry, I was offline. Meanwhile fetched solution for this. Let me push to separate branch.

[2016-05-07 16:01] manuel-uberti commented on #8
Thank you, @d12frosted. I was working with something like this:
[code]
But still wondering in the dark...

[2016-05-07 16:06] manuel-uberti commented on #8
@d12frosted  Just tested your code. It works beautifully. Thank you (and @abo-abo) for you patience in solving this.

P.s.: I'll talk about this package on my blog on Monday ;)

[2016-05-07 16:07] d12frosted commented on #8
Then I'll push 3b2b2e3 to master. Glad that it works. 😸

[2016-05-07 16:08] #8 closed

[2016-05-07 16:42] d12frosted commented on #1
Fixed via 49419b78949235ca51e12e636024cade15a794ea

[2016-05-07 16:42] #1 closed

[2016-05-26 17:52] Stebalien opened #9 "void-variable word"
When trying to correct the spelling of a word (`flyspell-correct-word-generic`), flyspell-correct errors out with:

[code]

Backtrace:

[code]

[2016-05-26 21:55] thorstengrothe opened #10 "flyspell-correct-word-generic only shows possible corrections"
as the header says flyspell-correct only shows possible corrections but not the options to
to save unknown word to my dictionary, accept this spelling in current buffer or whole session. This is my setup

[code]

What I'm doing wrong?

Regards
Thorsten

[2016-05-27 04:36] d12frosted commented on #9
Thank you for the report. I can reproduce it as well. Though I am not sure what's wrong. Are you using Spacemacs as well?

[2016-05-27 04:39] d12frosted commented on #10
Which header?

[code]

(from [here](https://github.com/d12frosted/flyspell-correct/blob/master/flyspell-correct.el#L24))

But previously it didn't allow to save words using `ivy` and `popup`, so probably you are just using out of date version - try to upgrade :)

[2016-05-27 05:22] d12frosted commented on #9
I pushed temporary workaround for that, but I'll look into how to fix it properly. There's some bizarre related to byte-compilation, lexical binding and order in which you load this package.

So in several hours package would be available on MELPA. Let me know if new version fixes your problem.

[2016-05-27 09:05] thorstengrothe commented on #10
I updated flyspell-correct, same result, look here:
http://www.zimagez.com/zimage/bildschirmfoto2016-05-2710-56-43.php
Regards
Thorsten

[2016-05-27 09:29] d12frosted commented on #10
Ah. Now I understand your problem. `ivy` interface doesn't add `Save` actions to the list of completions, instead it uses common way to perform specific actions via `M-o`. When it asks for completion just press `M-o` and you'll see all available actions. Does it help you?

[2016-05-27 10:21] thorstengrothe commented on #10
Yes thank you very much, didn't know that because helm-flyspell shows this per default, so I was a bit confused. Is there a way to do this per default without pressing M-O?

[2016-05-27 10:46] d12frosted commented on #10
Yes, it's possible though it's not supported out of box. But since the purpose of `flyspell-correct` is allowing to use any custom interface, it's easy to implement one that inlines actions and use it:

[code]

I hope it works :) But using actions is more idiomatic way of performing actions. I would recommend you to get used to them.

And also, just in case you missed that - `flyspell-correct` out

[2016-05-27 12:24] d12frosted opened #11 "Package should not depend on installation order"
Recently I introduced pretty controversial change in https://github.com/d12frosted/flyspell-correct/commit/40bdd2f817b018685cb39bcbaf961717f1acf074.

It's just a quick workaround and I am looking into proper solution.

In short, `flyspell-correct` must be byte compiled **after** `helm`. In some setups there is no way to force specific order of package installation. So `flyspell-correct` ends up in

[2016-05-27 12:55] kaushalmodi commented on #11
Try asking this on help-gnu-emacs@gnu.org.

[2016-05-27 14:55] manuel-uberti commented on #11
Could it be related to this warning (from Helm's README)?
[code]

[2016-05-27 15:04] Stebalien commented on #9
Fixed. Thanks! I held off on reporting this for a while because I tried to fix it myself and came to the conclusion that your code was correct...

[2016-05-27 15:04] #9 closed

[2016-05-27 15:23] d12frosted commented on #9
Yeah it looks correct to me as well. Don't know what caused it to break.

In any case you helped to find another issue: https://github.com/d12frosted/flyspell-correct/issues/11

[2016-05-27 15:48] thorstengrothe commented on #10
Thank you  very much for your help, now I have Save, Accept Session und Accept buffer, must look deeper in flyspell-correct-helm and configure flyspell to my needs!

[2016-05-27 15:53] d12frosted commented on #10
To use `helm` interface just use

[code]

Simple as that :)

[2016-05-27 15:53] #10 closed

[2016-05-29 05:20] ambihelical opened #12 "Symbol's function definition is void: third"
(require 'cl) is workaround

[2016-05-29 07:52] d12frosted commented on #12
Should be fixed by `8e7ff3b5e7b55db0da2ec6288b7456334e5fc3b3`. I used `nth` instead of `third`.

[2016-05-30 09:06] d12frosted commented on #11
Ok, I've asked on help-gnu-emacs@gnu.org, cause I don't see any other solutions.

As per `async` package. I don't quite understand how to use it. And I am not sure that it would solve my problem. But I'll take a closer look soon.

[2016-05-30 17:26] sooheon opened #13 "Can this be a little more eager in searching backwards?"
Modelling after the behaviour of flyspell-autocorrect-previous-word instead would be very nice:

`Auto correct the first misspelled word that occurs before point.
But don’t look beyond what’s visible on the screen.`

[2016-05-30 17:38] d12frosted commented on #13
Hi, thanks for suggestion. I like the idea.

I wonder what would be more helpful - two functions that behave differently or one function which behaviour depends on variable. Probably depends on feature implementation. 😸

[2016-05-30 18:11] sooheon commented on #13
I think the seeking behaviour will be in every case equivalent or better. I also thought about making another issue for this, but I think it might depend on this implementation: point should stay exactly where it was invoked from. Currently, if it doesn't find a match, point will move forward a word or otherwise shift a bit.

[2016-05-30 18:18] d12frosted commented on #13
Probably you're right.

depend on this implementation: point should stay exactly where it was
invoked from. Currently, if it doesn't find a match, point will move
forward a word or otherwise shift a bit.

Wow, didn't notice it. Nice catch! Please, open new issue for that :D

On Mon, May 30, 2016 at 9:11 PM Sooheon Kim <notifications@github.com>
wrote:

[2016-05-30 18:30] sooheon opened #14 "Point should not be moved by command"
Whether a match does or does not occur (at point or before), point should be left in place after correction.  Make use of save-excursion?

[2016-05-30 18:31] d12frosted commented on #14
Thanks for reporting.

[2016-06-01 08:57] d12frosted commented on #14
I investigated this issue a bit. Looks like `flyspell-get-word` moves the point. But I wonder what is the desired behaviour. There are following possible solutions:

1. Move point to the end of word in any case.
2. Move point to the end of word only on successful correction.
3. Don't move point at all.

End of word here means the end of word as flyspell understands it.

Looks like all packages bui

[2016-06-01 14:11] sooheon commented on #14
Hm I guess if this function continues to be called for word at point, this behaviour is fine. However, if we allow to correct words away from point, like a sentence or two ago, the point should not move, imo. Then, it makes sense just to not have it move in any case, for consistency. FWIW, I'm coming from speck, and it has the behaviour I described: point never moves when correcting in either dire

[2016-06-02 08:19] d12frosted commented on #13
`flyspell-correct-previous-word-generic` is out in master. It reuses `flyspell-correct-word-generic`. It's mostly stolen code from `flyspell.el`. 😸

[2016-06-06 04:26] #12 closed

[2016-06-06 04:27] #13 closed

[2016-06-06 08:05] d12frosted commented on #11
I've divided this package to several of them. Now waiting for them to be available on MELPA.

[2016-06-06 08:11] d12frosted commented on #11
P. S. I hope this would be the only breaking change.

[2016-06-06 08:38] manuel-uberti commented on #11
Thanks for the solution. It might be breaking, but I'm happy to have only what's needed for Ivy. :)

[2016-06-07 04:27] d12frosted commented on #11
It's already part of MELPA.

[2016-06-07 04:27] #11 closed

[2016-06-07 04:28] d12frosted opened #16 "Warn user when interface is not set"
Right now it silently does nothing. For end user it might look like a bug.

[2016-06-07 04:29] d12frosted opened #17 "Allow to override interface on per correction function call"
So instead of only relying on the value of `flyspell-correct-interface` it would be great to have an optional variable in correction functions to have an option to override default interface.

[2016-06-07 04:30] d12frosted opened #18 "Auto correct minor mode"
Inspired by [flyspell-popup-auto-correct-mode](https://github.com/xuchunyang/flyspell-popup/blob/master/flyspell-popup.el#L163).

TODO:

- [x] Consider using bigger delay
- [x] Check that it works with all supported interfaces
- [x] Add mode interface variable
- [x] Update documentation

[2016-06-07 08:31] manuel-uberti commented on #11
Thanks, it works like a charm:
[code]

[2016-06-07 08:35] d12frosted commented on #11
Great! You could also try `flyspell-correct-previous-word-generic` (#13).

[2016-06-08 06:56] d12frosted opened #19 "flyspell-correct-previous-word-generic should correct word at point if it's wrong"
It's because `overlays-in` places overlay at point in the end of list instead of start. Also make sure that point is properly placed after correction in this special case.

[2016-06-08 06:57] d12frosted opened #20 "flyspell-correct-previous-word-generic should properly work on consecutive calls"
Due to the fact that `flyspell-correct-previous-word-generic` is implemented using implementation of `flyspell-auto-correct-previous-word`, it doesn't properly work on consecutive calls. But it should.

[2016-06-08 08:13] #19 closed

[2016-06-09 16:56] d12frosted commented on #17
Oh well. I totally forgot that one can use `let` to set interface for specific call. For example:

[code]

[2016-06-09 16:56] #17 closed

[2016-06-09 17:41] d12frosted commented on #18
Wow. I use it and... actually hate it. But that's probably because of pretty low delay.

I've tested it only with ivy interface. And suspect that popup interface might be buggy.

Also make sure that this mode has it's own interface variable to be used instead of default. When mode variable is nil default is used.

P. S. CC @syl20bnr 💃

[2016-06-10 17:24] d12frosted commented on #18
About delay - I see that some people are using `0.8` as delay. So probably it's just me. So I'll leave `1.6`.

[2016-06-10 17:45] d12frosted commented on #18
Ok, so now it's possible to override interface for auto correct mode. For example,

[code]

When you manually call `flyspell-correct-[previous-]word-generic` it uses `ivy` as interface. But when it's called automatically, `popup` interface is used.

[2016-06-10 19:43] vermiculus opened #21 "Company backend"
Have you seen http://emacs.stackexchange.com/q/9823/2264? It would be nice to have a company backend for spell-checking :)

[2016-06-11 05:29] d12frosted commented on #21
Nice idea! I'll work on this on the next week.

[2016-06-13 05:29] #18 closed

[2016-06-15 22:24] unbildung opened #23 "Describe ivy interface minibuffer commands"
Thanks for the package!

As I just started using Ivy, I am not very familiar with it, and I was having trouble figuring out how to switch from the list of dictionary candidates to the option menu to save, accept, etc. I looked at the Ivy [manual](http://oremacs.com/swiper/#key-bindings-for-navigation) and found the mini buffer command `M-o` or `ivy-dispatching-done`, which is what I needed. Perhap

[2016-06-16 05:02] d12frosted commented on #23
Glad you like it.

Yeah, you are not the only one confused by this. For example, #10. So yeah, it's a good idea to add some notes about using `ivy` interface. Will update readme soon.

Thanks for suggestion!

[2016-06-21 17:06] sondr3 opened #24 "Scrolling in flyspell-correct-popup"
I was wondering if it was possible to make `flyspell-correct-popup` be able to scroll with `jk` instead of up/down arrow keys because I use Evil and would rather use them than the arrow keys.

[2016-06-21 17:10] d12frosted commented on #24
Hey,

This problem should be addressed in configurations of interface you are using as it really out of scope of this package.

[2016-06-21 17:17] sondr3 commented on #24
Oh yeah, I was just wondering if you knew how I'd do it. But I figured it out on my own regardless, thanks though 😃

[2016-06-21 17:17] #24 closed

[2016-06-21 17:17] d12frosted commented on #24
Sorry, but I don't use `evil`, so can't help you with setting up `jk` in `popup.el`. But the functions you need to setup are `popup-next` and `popup-previous`.

[2016-06-21 17:26] sondr3 commented on #24
Yep, got it to work with scrolling but can't get it to close with "q", oh well, small victories 😂

[2016-06-22 04:55] #23 closed

[2016-06-29 09:22] d12frosted commented on #21
Sorry, I've been pretty busy lately. Haven't looked into it yet. Can't share any estimations, though.

[2016-07-10 05:28] d12frosted commented on #20
Fixed by 7f80b33158a47a54b7c2bda69d43622d92a00591

[2016-07-10 05:28] #20 closed

[2016-07-10 05:33] #16 closed

[2016-08-21 08:15] d12frosted commented on #21
I've made an attempt to implement this, but it's actually harder than I first thought. So I am going to delay it. If someone is interested in implementing it now - go ahead, PRs are warmly welcome. 😸

[2016-10-08 20:45] mattiasb opened #26 "Add flyspell-correct-next-word-generic"
I would want a similar function to `flyspell-correct-previous-word-generic` that searches forward instead of backwards and `flyspell-correct-next-word-generic` sounds like a good name. :)

Not sure if I have time/energy to add this myself anytime soon, but logging it here.

[2016-10-09 11:10] d12frosted commented on #26
I like the idea. Must be simple to implement. I'll look into it very soon.

P. S. thanks for feature request 😸

[2016-10-14 09:16] #26 closed

[2016-10-14 09:19] d12frosted commented on #26
Hey, I've implemented it. Should be on MELPA very soon. Let me know if it doesn't work for you.

[2016-10-14 15:53] mattiasb commented on #26
Woop!

[2016-10-14 15:56] mattiasb commented on #26
Works like a charm, thanks a lot!

[2016-10-16 06:26] d12frosted commented on #26
Great to hear!

[2017-02-09 11:23] kolektiv opened #28 "Ivy actions not available?"
Reading the documents, it seems like the Ivy implementation uses the Ivy actions system, and mentions pressing `M-o` (when the minibuffer is offering a list of suggested words I assume). When I do this though it just accepts the selected word - so actually calls the default action, `correct`.

Am I doing something wrong or misunderstanding? How should access to save, etc. work? Sorry if this is a

[2017-02-09 11:29] kolektiv commented on #28
My apologies - it was my mistake! I was loading this using the use-package macro, but not via :demand - so it wasn't correctly adding the hook. My error entirely - thank you for an excellent useful tool!

[2017-02-09 11:29] #28 closed

[2017-02-09 12:11] d12frosted commented on #28
Hey, glad to hear that it works 😸

[2017-02-09 17:04] thblt opened #29 "Flyspell-correct-ivy doesn't work is previous error is a duplicate"
## Steps to reproduce

Enter this sentence in a random buffer:

Two words are marked by Flyspell (I put them in bold):  the obviously misspelled "sentnece" and the duplicated  "the" ("the the twelfth"), because Flyspell warns about duplicated words.  Trying to run flyspell-correct-ivy with the point at  the end of the sentence (or anywhere after the double "the") has absolutely no effect.

## Expe

[2017-02-10 07:09] d12frosted commented on #29
Wow, indeed! Thanks for the detailed report.

Functions that correct word before or after the point are using `flyspell-overlay-p` which is used to filter out all overlays. I am not sure what is the best way to filter out these overlays, but it seems that there is a special face for duplicate overlays and incorrect words. So I can just filter out 'duplicate' overlays 😸

In case you don't know bett

[2017-02-10 11:18] thblt commented on #29
Sounds good, with a very small edge case: a repeated *and* misspelled word would be ignored.  I haven't dug into flyspell[-correct] code, but wouldn't it be easier (and less dependant on font-locking and/or local buffer idiosyncrasies) to simply skip the word is Flyspell considers it valid?
[code]

Using the example sentence above, the process would run: focus on "the", internally verify "the" usi

[2017-02-10 11:38] d12frosted commented on #29
Yeah that makes sense. And looks like a better solution. Thanks.

[2017-02-13 14:50] #29 closed

[2017-02-13 14:51] d12frosted commented on #29
Sorry for the delay. I have pushed fix. Should be available in MELPA soon. Let me know if I screwed anything 😸

In case everything is fine - I'll release new stable version with this fix.

[2017-02-13 17:26] thblt commented on #29
Just tested the version in Melpa and everything seems fine.  Thanks for the fix, and thanks in advance for the tagged release!

[2017-04-13 16:26] alphapapa opened #30 "Suggest binding?"
Hi,

I just set up this binding and have found it really useful:

[code]

I use it in combination with this function which I bind to `C-;`.

[code]

Here's how this works: if I press the key in a comment or a string, it calls `flyspell-auto-correct-previous-word` at first, automatically correcting the previous marked misspelling to the initial suggestion.  If I press the key again, it undoes the c

[2017-07-31 19:07] Boruch-Baum opened #31 "underline marking of misspelled word remains after correction"
Hi. I just installed the package with the popup interface, and after correcting a word, the word remains underlined. When performing a flyspell correction manually (ie. M-$), the underline is correctly removed. (emacs 25, debian)

[2017-07-31 19:21] Boruch-Baum commented on #31
Never mind. My mistake. The underline was due to "flyspell duplicate" deciding that "too" was a duplicate of "topi"

[2017-07-31 19:21] #31 closed

[2017-07-31 21:20] Boruch-Baum opened #32 "Cursor jump on long-range error finds [patch included]"
`flyspell-correct-previous-word-generic` will jump to the previous error no matter how far back in the buffer the error is located. For me, that's not a bug, but a desirable feature, but what I don't like is that after exiting the function, point jumps back to where it started instead of staying where it made the correction. If you agree that behavior is desirable, attached is a patch that seems t

[2017-08-01 07:26] d12frosted commented on #31
Hey @Boruch-Baum,

That happens 😸 Glad you are using `flyspell-correct` 😸

[2017-08-01 07:45] d12frosted commented on #32
Hey @Boruch-Baum,

Indeed, intention of `flyspell-correct-previous-word-generic` is to jump to previous word, allow user to select correction and then return to previous point. Note that it should jump to last visible incorrect word. I think in most cases it's a good think, though I might let users to configure that 😸

Well, for me it's a 'killer feature' of `flyspell-correct-previous-word-generic

[2017-08-01 20:04] Boruch-Baum commented on #32
Hi @d12frosted. A lot for me to write today, so I'll start with some simple responses from the bottom of your most recent comment. You asked about naming of two functions. In general, I prefer shorter function names, and would have liked a shorter general prefix than `flyspell-correct`. Also, since all the functions seem word-based, the word `word` could be dropped. For now, I would just call the

[2017-08-01 21:52] Boruch-Baum commented on #32
This updated attached file:

1] Eliminates duplicate entries on the mark ring, and places point at most recent correction when using the rapid correct option.

2] Removes calls to `save-excursion` and `save-restriction` that seem unnecessary now.

[flyspell-correct_ideas.txt](https://github.com/d12frosted/flyspell-correct/files/1192052/flyspell-correct_ideas.txt)

[2017-08-02 01:44] Boruch-Baum commented on #32
This update attached file:

1] Solves the problem of the popup not displaying properly when advancing off the visible display.

2] fixed a bug I introduced by trying to save an instance of `setq`

This is probably the last of the changes for this round until I hear back from you.

[flyspell-correct_ideas.txt](https://github.com/d12frosted/flyspell-correct/files/1192425/flyspell-correct_ideas.txt)

[2017-08-02 05:33] d12frosted commented on #32
Thank you for sharing your thoughts and the code. I'll take a look at it soon 😸

[2017-08-04 23:12] Boruch-Baum commented on #32
I discovered a bug in my code suggestion in the case of spell-checking a buffer for which the mark-ring is nil, ie. no marks had ever been set in the buffer. The attached file updates that section of code.

[flyspell-popup-wrapper.txt](https://github.com/d12frosted/flyspell-correct/files/1201889/flyspell-popup-wrapper.txt)

[2017-08-31 07:40] d12frosted commented on #32
@Boruch-Baum Sorry, I am in travel mode, still haven't looked at your code. Will do ASAP once I return.

[2017-08-31 17:45] Boruch-Baum commented on #32
Ack. Thanks for the heads up.

[2018-08-17 11:44] Boruch-Baum commented on #32
Hi Boris. I've updated my fork of your repository to account for all your recent commits, and my patches / pull requests still seem to be working! I find the the 'rapid' feature in particular very useful for when I forget to enter flyspell mode until halfway writing a document, or when proofing someone else's work. I really think others would appreciate and benefit from the feature.

[2018-09-13 05:40] d12frosted commented on #32
@Boruch-Baum great to hear! I will take a look :)

[2018-09-15 12:09] freetonik opened #37 "Broken popup UI when opened near end of buffer"
Hi,

thanks for a great package!

I noticed a little problem with popup.

<img width="1279" alt="screen shot 2018-09-15 at 15 05 59" src="https://user-images.githubusercontent.com/2665931/45586069-e816ab00-b8f8-11e8-9871-c3bd5fef8a33.png">

Steps to reproduce:
1. Move point the end of a buffer.
2. Invoke popup for word via `flyspell-correct-popup`

[2018-09-15 12:32] d12frosted commented on #37
Hi @freetonik

Thanks for the feedback 😸

I've tried to reproduce it and it works. What version of Emacs do you use? And is it GUI or terminal?

And just to make things clear, let me share the steps I tried (in case I missed something).

1. Make a mistake somewhere in the buffer.
2. Move the point to the end of the buffer, but make sure that the misspelt word is visible.
3. Invoke `flyspell-correc

[2018-09-15 12:36] #30 closed

[2018-09-16 07:58] d12frosted commented on #32
I am going to close this ticket and open a PR with your changes. Let's continue our discussion there. 😸

[2018-09-16 07:58] #32 closed

[2018-09-16 11:12] d12frosted commented on #37
@freetonik

First of all, thank you for such a detailed report! Secondly, I am able to reproduce these issues and it seems to be related to popup itself. To be honest, I don't know what to do with them.

I see 😸 I was using Helm for some time, but then totally switched to Ivy. The only thing that might be confusing with Ivy and `flyspell-correct-ivy` is invoking special commands (like save).

[2018-09-17 09:57] freetonik commented on #37
I've submitted an issue to popup itself, hopefully this report will help. But last commit to popup's master was in 2016...

[2018-09-17 09:57] #37 closed

[2018-09-17 09:59] d12frosted commented on #37
@freetonik Cool, thanks for letting me know. I wonder if it's gonna be fixed 😸 From my understanding it's not an easy fix. But it would be great.

[2018-09-17 10:03] freetonik commented on #37
Yeah, it's quite obscure and edge-case-y...

Btw, is there a way to quickly select a candidate in `flyspell-correct-ivy` without hydras or other add ons? Something similar to the built-in `ispell-word`

<img width="1148" alt="screen shot 2018-09-17 at 13 02 12" src="https://user-images.githubusercontent.com/2665931/45617094-f0e2ba80-ba79-11e8-9f4f-acd1d10a5189.png">

Or I guess this more of a ques

[2018-09-17 10:09] d12frosted commented on #37
You are correct. However, I can share how I achieve this - `ivy-avy` function. By default, it's bound to `C-'`[1].

  [1]: https://oremacs.com/swiper/#key-bindings-for-single-selection-action-then-exit-minibuffer

[2018-09-17 10:10] freetonik commented on #37
Ooh, I keep forgetting about ivy-avy! Thanks!

[2018-09-30 16:09] d12frosted commented on #14
I know it took quite a while, but I think that current master has desired behavior. Cheers? 😸

[2018-09-30 16:09] #14 closed

[2018-10-21 22:02] andschwa commented on #28
@kolektiv I just ran into this too... I feel like it should work out-of-the-box when using:

[code]

But I don't know enough about Emacs package conventions / auto-loading to set this up correctly.

[2018-11-21 09:42] manuel-uberti opened #43 "No ivy actions"
Hi,

I am using latest `ivy` and `flyspell-correct-ivy` from MELPA. I can't see the actions displayed [here](https://github.com/d12frosted/flyspell-correct/blob/master/images/screenshot-ivy-2.png) anymore.

This is what I see:

![screenshot](https://user-images.githubusercontent.com/8199224/48832677-01652900-ed7a-11e8-8dee-48e94f303dbc.png)

This is how I set up `flyspell-correct-ivy`:

[code]

An

[2018-11-21 09:50] manuel-uberti commented on #43
Sorry, issue already solved with:

[code]

[2018-11-21 09:50] #43 closed

[2018-12-12 18:26] Ergus opened #45 "rapid mode"
Hi I am using the Ivy interface and after the configuration I was not having the rapid behaviour with C-u. I Changed the code in the wrapper to make it simpler and now it works. The problem is that the prefix was not passed among the functions.
[code]

[2018-12-13 07:42] d12frosted commented on #45
Hi Ergus,

Thank you for checking this feature out. I am not sure why `current-prefix-arg` didn't work for you, but I like how you refactored that function, so I would be happy to get a PR (or a patch via email if it's more suitable for you), so I can apply it. Anyway, kudos for digging this out! 💯

[2019-01-09 12:32] Boruch-Baum commented on #45
Shouldn't this be closed, due to https://github.com/d12frosted/flyspell-correct/pull/46 ? Curious all this, because I've been using ivy since when I wrote my version of the code, it has always been working. @d12frosted - Hi! I'm now updating and merging your work into my version, and will post comments separately.

[2019-01-09 12:44] Boruch-Baum opened #48 "Differences between our two versions"
After your cherry-pick and all your subsequent work, I finally now have decided to integrate, merge and compare our two versions, and I notice two functional differences that affect the "user experience". If the differences are intentional decisions, that's cool, but I thought to point them out in case they were oversights.

1) In your version, when a user completes or aborts a spell-correct 'sess

[2019-01-29 20:40] arkhan opened #49 "Posframe Support?"
Regards

it is possible to add support for [posframe](https://github.com/tumashu/posframe) as an interface

thank you very much, great job

[2019-02-03 14:44] d12frosted commented on #49
Hi @arkhan,

I've never used `postframe` and from the documentation, it seems that it's used only for showing information and it has no functionality to select an item from a list. In this sense, it won't be easy, though possible. Please correct me if I'm wrong.

[2019-03-18 10:28] UndeadKernel opened #50 "Wrong type argument in `flyspell-correct-move`"
When a buffer is first created, the mark is `nil`.
If the function `flyspell-correct-move` is called under this conditions, the following error will be shown:
[code]
This is due to [this source line](https://github.com/d12frosted/flyspell-correct/blob/master/flyspell-correct.el#L244). The `(mark)` function returns `nil` and the command errors out.

[2019-04-18 17:07] d12frosted commented on #50
Fixed by https://github.com/d12frosted/flyspell-correct/pull/51

[2019-04-18 17:07] #50 closed

[2019-04-18 17:12] d12frosted commented on #48
Hey @Boruch-Baum,

I know I am very slow to respond. And at last, I've got time to go over your points 😸

It's a really interesting point. For me, it's the killer feature of `flyspell-correct` - I can fix the error and continue what I was doing. Maybe I should provide a configuration variable for this. So everyone can make it perfect 😸

This is something I just missed. Thanks for pointing it out.

[2019-05-25 16:50] fikovnik opened #52 "Highlight the word that is currently being corrected"
First, thank you for this package! Perhaps it can be achieved by other means, but I was wondering if it would be possible to add a custom face that would highlight the word that is currently being corrected?

[2019-05-27 07:36] d12frosted commented on #52
Hey Filip,

That's a great idea. Thank you for sharing it. I am in travel mode, and will implement it once I am back to route.

On Sat, May 25, 2019 at 19:50, Filip Krikava <notifications@github.com> wrote:

[2019-12-06 14:29] apc opened #53 "`flyspell-correct-avy-menu` unavailable"
I may be missing something but I cannot find `flyspell-correct-avy-menu` anywhere. I've tried browsing the package list, searching on MELPA, and doing a simple Google search (only a handful of hits for `"flyspell-correct-avy-menu"`. Of course, trying `use-package flyspell-avy-menu` tells me that the package cannot be found.

[2019-12-09 17:42] d12frosted commented on #53
Hey @apc

Right, I never published `avy` on the MELPA. If you want to use it now, you have to install it from the repository. You can use [straight.el](https://github.com/raxod502/straight.el) for this.

[code]

Didn't try this exact code, but should work if you configure `straight` to be used by `use-package`.

[2019-12-09 18:05] d12frosted commented on #53
Please see https://github.com/melpa/melpa/pull/6580

[2019-12-10 14:31] apc commented on #53
Thanks!

[2019-12-12 00:38] Jesse-Millwood opened #54 "`use-package` defer setup"
If I am using `always-defer` with use-package is there anything extra I have to do so that the correct interface function is called?

I am using
[code]

and I get
[code]

When trying to use flyspell ivy

Thanks for any pointers

[2019-12-12 10:11] d12frosted commented on #54
Interesting. I am also using `always-defer` set to `t`. And my configuration is simple enough:

[code]

And when I call the `flyspell-correct-wrapper` I get the right function. I tried even without `general` to make sure it doesn't make any magic loading:

[code]

`M-x flyspell-correct-wrapper` invokes `ivy` interface.

[2019-12-13 12:02] Jesse-Millwood commented on #54
Thanks @d12frosted, do you have anything else special with either flyspell correct or ivy?

[2019-12-13 13:18] d12frosted commented on #54
Well, sure I have some configurations for [ivy](https://gitlab.com/d12frosted/environment/blob/master/emacs/lisp/init-ivy.el) and [flyspell](https://gitlab.com/d12frosted/environment/blob/master/emacs/lisp/init-spellcheck.el). But not sure if it affects the loading.

P. S. I have set `defer t` everywhere - it's just a bad habit :)

[2019-12-23 16:51] d12frosted commented on #54
@Jesse-Millwood any luck with deferring this package?

[2019-12-23 19:49] d12frosted commented on #53
Should be available on MELPA soon.

[2019-12-23 19:50] #53 closed

[2019-12-27 14:10] Jesse-Millwood commented on #54
@d12frosted I haven't had any luck but I have been having similar issues with a couple other packages. FWIW, this is my init file: https://github.com/Jesse-Millwood/dots/blob/master/dot_emacs.d/init.el

[2020-01-15 12:22] hubisan commented on #52
Was thinking the same and noticed that `ispell-word` is doing this. So I copied what is need from `ispell-word` and added an advice before and after `flyspell-correct-at-point` to highlight and unhighlight the current spelling error. Seems to work so far.

This would probably be trivial to add as a feature. Don't have the time to make a pull request unfortunately.

[code]

[2020-01-15 13:10] d12frosted commented on #52
Wow, thank you for sharing the code. Will take a look on my weekends.

[2020-01-16 08:22] d12frosted commented on #52
I tried it, but it seems it doesn't play nicely with overlays from `flyspell`.

[2020-01-16 13:19] hubisan commented on #52
Works here. What you mean by not playing nicely so I can test it in my setup?

Forgot to mention, had to set an ispell variable (had to reload emacs after).:
[code]

Before correct:
![image](https://user-images.githubusercontent.com/4160043/72528100-8e1a5280-386a-11ea-9248-f08ff51c2204.png)

While correcting (avy-menu interface):
![image](https://user-images.githubusercontent.com/4160043/72528010-

[2020-01-19 20:55] d12frosted commented on #52
Ok, there is something funky with my faces, that's why I didn't see the difference. Thanks for pointing out the value of `ispell-highlight-face`.

[2020-01-20 06:01] d12frosted commented on #52
@hubisan I've created a PR based on your code. Would be grateful for your review ;)

[2020-01-20 08:15] #45 closed

[2020-01-20 08:23] d12frosted commented on #54
@Jesse-Millwood I am little bit confused. As far as I understand you want to fix the issue with loading packages (as example, `flyspell-correct-ivy` is not properly loaded), but not to lazily load packages, right? And you try to do it by putting `:demand` on problematic packages, and you have global configuration with `:ensure t` and `:always-defer t`.

Could you please try the following:

1. Star

[2020-01-20 13:39] Jesse-Millwood commented on #54
@d12frosted It seems that adding `:ensure t` worked! I did not have always ensure enabled globally. I guess I thought that only did things related to installation. I added the ensure enabled globally now, maybe it'll fix some other issues I've had. Thanks!

[2020-01-20 13:39] #54 closed

[2020-01-20 13:40] d12frosted commented on #54
@Jesse-Millwood cool, glad that you sorted this out! happy hacking!

[2020-01-21 08:23] #52 closed

[2020-01-21 08:26] d12frosted commented on #52
@fikovnik, @gusbrs, @hubisan the feature is now available on master. Give some time for MELPA to build it :)

P. S. Don't have any plans for stable MELPA. So let me know if you really-really need it there.

[2020-01-21 12:06] gusbrs commented on #52
I'm trying it out here already, and it looks very nice indeed.

Thank you very much @d12frosted and @hubisan !

[2020-01-22 20:34] d12frosted commented on #49
Since `postframe` doesn't provide out-of-box functionality to select a value from the a list I am marking this issue as a won't fix (just for visibility).

If someone really want to have `postframe` as an interface, then I suggest to extend `postframe` (either in the upstream repository or create a dedicated package) and then ping me or even better - create a PR to this repo 😸

[2020-01-31 13:02] gusbrs opened #58 "A handier skip for flyspell-correct-ivy"
Hi,

I've been a happy user of `flyspell-correct`, and of `flyspell-correct-ivy` in particular, for some time. Thank you very much.

Since it came around, I also rely mainly on `flyspell-correct-wrapper` for my "on the spot" typing mistakes.  However, I see myself somewhat frequently stumbling around the prefixes, and wishing I had thought all the way through before I started the command.  Alas, I

[2020-01-31 14:17] d12frosted commented on #58
@gusbrs thank you very much for sharing your feedback and ideas on how to improve usability of `flyspell-correct`. I haven't read your comment very thoughtfully, but on the high level it sounds amazing! I also quite often found myself in a situation when skip imitating rapid mode would help me. I like your focus on ergonomics!

I will play with this code as soon as possible (hopefully, on Sunday).

[2020-02-01 20:26] WorldsEndless opened #59 "flyspell-correct-wrapper does nothing"
Version: GNU Emacs 26.3 (build 1, x86_64-suse-linux-gnu, GTK+ Version 3.24.12)

Error: attempting `flyspell-correct-wrapper` does nothing at all

Steps to reproduce:
0. use-package the two things below, I think according to the readme instructions
1. insert text with mistypes into a buffer
2. execute `flyspell-buffer` to cause errors to be highlighted
3. Execute `flyspell-correct-wrapper`. Nothing

[2020-02-02 07:28] d12frosted commented on #59
Hey @WorldsEndless

I have several questions to you :)

1. Are you using `always-defer` option of `use-package`? If yes, then you should put keybinding configurations to the `:init` section (and in general it makes sense to do so).
2. In any case, do you see `flyspell-correct-wrapper` in the `flyspell-mode-map`?
3. Why are you using `:bind` without any arguments? It seems that you initially wanted

[2020-02-02 07:43] WorldsEndless commented on #59
Thanks for the response.

1. always-defer is not on.

2. I used `C-h m` to look at mode specifications and I see flyspell, but there is no mention of correct-wrapper.

3. Yes, that was a mistype. I have removed that line, but there is no effect. In general I was unsure which commands I should put in one use-package and which in the other.

Still no response when I try calling flyspell-correct-wrap

[2020-02-02 07:46] d12frosted commented on #59
1. Did you try moving the key binding to `:init` section? E.g. in this case chaning `:config` to `:init`?
2. Let's check the value of `flyspell-mode-map` by using `C-h v flyspell-mode-map <ret>`. Can you please share the output here?
3. Good 😸

[2020-02-02 07:50] WorldsEndless commented on #59
Ah! I found it! I turns out the wrapper function is going in reverse to what I expected; in my workflows, I usually have point BEFORE my errors, but it seems that this function expects point to be after the errors unless you use a bunch of C-u before hand. I can adjust my workflow, though; the rapid mode is nice. Only I can't C-g out of it... but that's another issue.

[2020-02-02 12:36] d12frosted commented on #58
@gusbrs it seems that I won't get a chance to deeply look into your proposal. Will focus on it during the next week. Sorry for delay.

[2020-02-02 12:55] gusbrs commented on #58
@d12frosted Please be at ease with this. Take your time, there is absolutely no rush from my side.

PS: Further testing/playing here suggests me you will most probably like it too.  :-)

[2020-02-03 17:30] d12frosted commented on #59
@WorldsEndless haha, nice. Even didn't think about it. Well, I was thinking about introducing variables that control default behavior. And maybe allow to search in both directions.

[2020-02-03 17:30] #59 closed

[2020-02-03 17:33] WorldsEndless opened #60 "Can't break out of rapid mode"
Helm user here (don't know if that matters).

I often need to stop a spell-correcting session in mid stride, for example if my spell error is "liket his" and I need to just go and to a `C-t` to fix it. However, it seems impossible to break out of rapid mode since `C-g` just skips a single step. If I'm spellchecking a large chunk of text with many errors, I need to `C-g` for every single mistype. T

[2020-02-04 05:29] d12frosted commented on #60
@WorldsEndless thank you for the report. Helm is really relevant as it seems that it eats the `C-g` and does not properly propagate it to the calling function. That's why `flyspell-correct-wrapper` doesn't know that it's time to stop. Doesn't happen with ivy. Will check other interfaces and will look for a fix.

[2020-02-04 05:54] d12frosted commented on #60
Ok, I found a solution. Everything already works with helm, but now I need to test other interfaces 😸

[2020-02-04 06:15] d12frosted commented on #58
Nice. I played a bit with your version and I like it. I think that solution can be simplified after #61. Because `skip` command is now explicitly returned by `flyspell-correct-word-at`. Which means that I can introduce a variable (for the sake of the users) `flyspell-correct-skip-as-rapid` (set to `t` by default) and treat `skip` result as attempt to jump to the next word when `flyspell-correct-sk

[2020-02-04 06:26] #60 closed

[2020-02-04 12:04] gusbrs commented on #58
I'm glad you liked it!

As to how to implement it, I have no particular attachment to the way I came up with it. I didn't examine #61 thoroughly, but a cursory look suggests that indeed the approach can be simplified as you describe. And I'm all for it, if there is a way to implement the same functionality in a more organic way to the code.

Of course I'm only at the suggesting side here, but I th

[2020-02-05 06:26] d12frosted opened #63 "Migrate to buttercup"
Reasons to move from ERT:

1. No good out of box solution for mocking, stubbing and set-up code.
2. Constant issues with stack traces in the console (`ert-runner` + `cask`).
3. Plethora of packages.
4. No grouping, so my function names are becoming huge.

Right now it's hard for me to maintain the tests and to add new cases. So I want to give `buttercup` a try.

[2020-02-05 06:35] d12frosted opened #64 "Cover rapid mode with tests"
At least some minimal testing will be enough.

[2020-02-05 06:41] d12frosted commented on #60
@WorldsEndless hey, did you have a chance to test it? 😸 does it work now?

[2020-02-05 12:37] atanasj opened #65 "flyspell-correct-ivy"
Hi,

The popup options with save to dictionary etc., have stopped working. Not sure why, I cannot get an error report out of it. However, when I press `M-o`, I get the text `Suggestions for … in dictionary "Default":`, but cannot see the options. Although, pressing one of the predefined options e.g., `M-o b` allows me to accept the word in buffer, but I just cannot see the options.

Here is  my co

[2020-02-05 12:49] d12frosted commented on #65
Wow, this is interesting. I could not reproduce until I've upgraded all my packages.

Here is what I get when I invoke `flyspell-correct-wrapper`.

<img width="524" alt="image" src="https://user-images.githubusercontent.com/6507913/73843008-69d8e280-4826-11ea-845d-f06a05d0f247.png">

And here is what I get when I press `M-o` in that buffer.

<img width="524" alt="image" src="https://user-images.gi

[2020-02-05 12:50] d12frosted commented on #65
Btw, actually `M-o` stopped to work in many other cases. For example, `counsel-find-file` also doesn't have any options in `M-o`. Looks like an upstream bug.

[2020-02-05 13:10] atanasj commented on #65
Yes @d12frosted, I'm getting the same behaviour. I suppose we wait?

[2020-02-05 19:13] WorldsEndless commented on #60
It works perfectly! Thanks!

[2020-02-06 09:20] d12frosted commented on #65
Can't reproduce on Emacs 26.3.

[2020-02-06 14:18] atanasj commented on #65
Must be a but on Emacs 28.0.50…

[2020-02-06 16:36] #63 closed

[2020-02-06 16:36] #64 closed

[2020-02-07 05:33] atanasj commented on #65
@d12frosted, do you think this is a but that will get corrected for use with the `--HEAD` version of Emacs?

[2020-02-07 12:50] WorldsEndless opened #66 ""save <CHANGE>" is broken"
Using -helm. When a mistype is found and I type-in what it should be, I can then click "Save" my correction, but it doesn't actually correct my word. Example
[code]

[2020-02-07 13:56] d12frosted commented on #66
Save action is used to add a 'misspelled' word to a dictionary.

[2020-02-07 13:58] d12frosted commented on #65
I am not sure. I hadn't a chance to properly debug it and to understand the reason of breakage. I've opened an issue in swiper repo. And also checked the Emacs devel/bug mailing lists, but didn't find anything useful. Though I haven't spent much time on this.

[2020-02-07 15:19] gusbrs commented on #58
Hi @d12frosted , I see you set a milestone for v1.0, and I assume it means you intend to think more carefully on how to implement this feature. As I said before, it's all fine for me.

But I actually have another suggestion to make to `flyspell-correct` and I didn't want to hit your issue tracker again while this one is pending, without checking it with you. Also, this is the kind of suggestion wh

[2020-02-07 16:13] WorldsEndless commented on #66
In the past (before using flyspell-correct) it served to save a hand-written correction to the buffer. In any case, how do I type my correction in manually if it doesn't appear on the suggestion list?

Boris Buliga <notifications@github.com> writes:

[2020-02-07 17:05] d12frosted commented on #66
Ok, now I get your question. I never use helm, so I wasn't aware, that there is a bug.

[2020-02-07 17:38] d12frosted commented on #66
I will fix it soon. I just need to get to my computer.

[2020-02-07 18:14] d12frosted opened #68 "Saving and correction in one pass for ivy interface"
After #67 it's possible to implement the same feature in `ivy`.

[2020-02-07 18:16] #66 closed

[2020-02-07 18:16] d12frosted commented on #66
The fix is in master. Please verify and let me know how it goes 😸

[2020-02-08 10:01] atanasj commented on #65
No worries. It would be great to get it working again… However, I get that 28.0.50 is the dev version and could change.

[2020-02-10 16:42] WorldsEndless commented on #66
Beautiful! I can now hand-type correction in addition to selecting them from the list. Thanks!

[2020-02-10 17:14] d12frosted commented on #66
Cool. I am glad that it works. Thank you for reporting.

On Mon, Feb 10, 2020 at 18:42, Tory S. Anderson <notifications@github.com> wrote:

[2020-02-11 07:55] d12frosted commented on #58
@gusbrs please do share it! 😸

[2020-02-11 14:22] gusbrs opened #69 "A hydra for flyspell with flyspell-correct"
Hi,

following the discussion at #58, I share here a hydra I cooked for flyspell spellchecking making use of `flyspell-correct-at-point` as basic correction interface.  As I mentioned there, it is not strictly within the logic of `flyspell-correct` but I believe it may complement it in the particular task of whole buffer checking, so it might be useful.  So, this is not a "request" nor a "bug repo

[2020-02-11 14:23] gusbrs commented on #58
Done at #69 . Have fun!   :-)

[2020-02-12 06:46] d12frosted commented on #65
@atanasj workaround can be found here: https://github.com/abo-abo/swiper/issues/2444

[2020-02-12 06:47] d12frosted commented on #58
Thank you!

[2020-02-12 07:22] d12frosted commented on #69
@gusbrs thank you very much for sharing the code and your thoughts about spell
checking! It's valuable, because you bring use cases that I never though about
and because you describe it all in details.

I don't personally use hydra but I see how it can be useful when one needs to
correct multiple mistakes in one run. Especially when you compare it to the
`ivy` interface, where the functional focus

[2020-02-12 12:15] gusbrs commented on #69
@d12frosted I thought you'd like it!  :-)
And I'm glad you did.

Do try it out. You'll see that most, if not all, of your workflow concerns are indeed covered. (This is not to say the way this is currently implemented there is ready to be somehow incorporated to `flyspell-correct` as they are).

If you are not much into hydra, you can abstract it for the time being. Just bind the body (`hydra-flys

[2020-02-12 22:55] atanasj commented on #65
Thanks for that, I just installed `ivy-hydra`, and that seems to do the trick too. It's another dependency, but working none the less:

![image](https://user-images.githubusercontent.com/27214625/74385072-cea7c480-4e46-11ea-8446-316d4c2578ec.png)

[2020-02-15 14:14] d12frosted commented on #58
@gusbrs I went ahead and implemented a functionality that treats `skip` action as a one-time enabler for rapid mode. Which means that even if you didn't enable rapid mode, but used action 'skip', `flyspell-correct-wrapper` will jump to previous (or next) misspelled word. Here again you can use `skip` action to go even further. But if you chose any other action, rapid mode will be stopped. There is

[2020-02-15 15:04] d12frosted commented on #58
Ok, and I actually implemented the last bit. So now you can simply use `flyspell-correct-ivy-map` for your needs.

[code]

Well, this looks like much less code than what you have right now ;) Hope you enjoy it! Let me know if there are any problems with current implementation.

P. S. Even though I share a code where 'private' variable is used (`flyspell-correct-ivy--result`), be careful if you are

[2020-02-15 15:06] #58 closed

[2020-02-15 22:23] gusbrs commented on #58
That's brilliant! Thank you very very much!

I've tested it here and it looks great. I also took a look at the corresponding commits, and the way you chose to do it is both more general and better integrated to the machinery of `flyspell-correct` than what I had come up with. In terms of functionality, they are equivalent, so the suggestion here is fully taken care of.
(I will test it further thou

[2020-02-17 05:03] d12frosted opened #73 "Add stop action to all interfaces"
- [x] ivy
- [x] helm
- [x] avy-menu
- [ ] popup
- [ ] ido

[2020-04-09 16:50] robstewart57 opened #74 "flyspell-correct-ido on Melpa"
The `flyspell-correct-ido` package is not on Melpa, but the packages for:

- avy-menu
- helm
- ivy
- popup

https://melpa.org/#/?q=flyspell-correct

Could the `flyspell-correct-ido` package also be uploaded to Melpa?

[2020-04-09 17:16] d12frosted commented on #74
@robstewart57 pleased to see your interest in `ido` interface! The good news - it's already part of `flyspell-correct` package. You can see the recipe in [MELPA repository][1]. So you can just install this package and use `ido` interface.

  [1]: https://github.com/melpa/melpa/blob/master/recipes/flyspell-correct

[2020-04-09 18:10] robstewart57 commented on #74
Ah, I hadn't realised. Thanks very much for this package, it's a lot of fun to use!

[2020-04-09 18:10] #74 closed

[2020-04-22 11:41] tpadioleau opened #75 "Setup using use-package"
Hi,

I tried to use `flyspell-correct-helm` flavor using the setup you propose
[code]
It doesn't seem to work for me. The key binding is not set, it is actually still bound to `flyspell-auto-correct-previous-word`. Moreover if I use manually the `flyspell-correct-wrapper` function, it complains saying `helm-M-x-execute-command: Symbol’s function definition is void: flyspell-correct-helm`.

The sim

[2020-04-22 11:51] d12frosted commented on #75
Hey @tpadioleau

Thank you very much for your feedback and for time you spent digging into it! In my own configurations I am also split `flyspell-correct` and `flyspell-correct-<interface>` configurations, because it makes sense to.

I would gladly accept PR improving documentation.

[2020-04-22 11:53] d12frosted commented on #69
Hey @gusbrs,

Just wanted to say that I do remember about this issue! Don't worry. I just need to find time to tackle it.

[2020-04-22 12:19] gusbrs commented on #69
Hi @d12frosted , take your time, of course! And if you need something from me with this, let me know.

[2020-04-22 15:15] d12frosted commented on #75
Fixed via #76

[2020-04-22 15:15] #75 closed

[2020-05-12 19:11] #49 closed

[2020-05-12 19:12] d12frosted commented on #49
Closing for the lack of activity,

[2020-05-13 06:50] d12frosted commented on #65
Fixed upstream.

[2020-05-13 06:50] #65 closed

[2020-05-13 07:22] #68 closed

[2020-06-30 11:25] WorldsEndless commented on #73
Having stop on the option list is very useful to me (helm user here); thanks! It would be very nice if I had a shortcut for it (one of my sessions yesterday had me hurriedly replace some words with "stop" by accident, rather than actually stopping). Personally, I'd love it if `C-g` did stop instead of aborting the changes, but a different shortcut would be fine too.

[2020-07-01 05:54] d12frosted commented on #73
oh, doesn't sound pleasing :(

Wait, it doesn't abort any changes, it just restores your cursor position. And you still can reach the word which you abandoned by calling `flyspell-correct-wrapper` again. I find point restoration one of the main features of this wrapper/dwim function :) Since most of the interfaces (not sure about helm) allow to type any word (e.g. even if you mistyped frend, you c

[2020-07-01 13:48] WorldsEndless commented on #73
My mistake -- it doesn't abort changes, but does reset cursor, as you mentioned. The usecase here is similar to that mentioned in other issues: sometimes the error needs several corrections in the area, not all of which are facilitated by flyspell-correct. I need this multiple times per spell-checking session, typically. Example string of corrections:

Johannas' thingg h appene dhere

(Johanna's t

[2020-07-01 19:52] d12frosted commented on #73
Thanks for the explanations! I will take your use case into consideration. Not promising to get something fast, though :(

[2020-08-28 06:29] #73 closed

[2020-08-28 06:37] d12frosted opened #80 "Allow to configure behaviour of C-g"
Current behaviour: when hitting `C-g` during `flyspell-correct-wrapper`, the point is restored to the place where it was /before/ calling `flyspell-correct-wrapper`.

Desired behaviour: allow to configure `flyspell-correct-wrapper` in a way that `C-g` behaves like `STOP` action by default. In this case we might want to have an action to restore the point. 🤷

This concern was raised multiple times,

[2020-08-28 06:45] d12frosted opened #81 "Allow to configure default direction of `flyspell-correct-wrapper`"
It would be nice to have a configuration variable for the default direction of `flyspell-correct-wrapper`.

Optionally (I am not sure if it's a good idea, any input would be helpful), value of this variable should be modified when changing direction using universal arguments. For example, if the value of that variable is set to forward, invocation of `flyspell-correct-wrapper` with `C-u C-u` start

[2020-08-28 06:45] d12frosted commented on #48
I have broken this issue into two: #80 and #81.

[2020-08-28 06:46] #48 closed

[2020-08-30 18:53] gusbrs commented on #80
I'm not sure how general this approach is, but I'd say this is already doable without any further modification with the interfaces that allow for a dedicated keymap (I'm not sure if such maps are exposed for all interfaces though). And this might be as general as it gets, because configuring the behavior of `C-g`, as far as I understand, will imply rebinding it to something that would behave as we

[2020-08-30 19:52] gusbrs opened #82 "A simpler flyspell-correct-wrapper"
I've been using `flyspell-correct-wrapper` as my main spell-checking interface for some time, and though I like it very much, the way it uses up to three universal-arguments, with two different behavior dimensions at play (repetition and direction) does put some cognitive load into calling it. And I admit I end up usually refraining from calling it with arguments for this reason.

Since the inclus

[2020-08-31 00:17] gusbrs commented on #80
Regarding:

I also have some thoughts, and a suggestion.

Currently, `flyspell-correct-wrapper` on one hand, and `flyspell-correct-previous` and `flyspell-correct-next`, on the other, are not really consistent regarding setting the mark on the original point.  The first does set the mark at its start with:

[code]
While the other two don't.

This actually only makes a significant difference when t

[2020-08-31 00:55] gusbrs commented on #81
As far as my personal taste goes, and the use I make of `flyspell-correct`, I wouldn't like to change the default direction of `flyspell-correct-wrapper`, and I would also not like this direction to be "sticky", according to the use of `C-u C-u` in past invocations of `flyspell-correct-wrapper`. Of course, configurability is something we all care about, and to each their own.

But I do see potenti

[2020-08-31 20:20] okamsn commented on #81
I offer the opinion that this would be confusing. At least, the behavior should be configurable.

If I understand, automatically changing the variable would make the default value less meaningful. In addition, although it can be useful, it is hard to say that a person wants to change directions for the next run just because they wanted to change directions for the current run.

Maybe a separate co

[2020-09-01 01:55] atanasj opened #83 "ivy menu not fully visible and save word deletes word"
Thanks for an excellent package. I am having a couple of problems…  I am using this package on `doom` emacs with `ivy`.

When after `C-o` for correction options I get the below:

<img width="1280" alt="by default 2020-09-01 at 11 46 54 am" src="https://user-images.githubusercontent.com/27214625/91785567-04789300-ec49-11ea-882e-efc2acbc6f8a.png">

Also, when saving a word to my dictionary during a

[2020-09-01 06:07] d12frosted commented on #83
Hey @atanasj

Could you please elaborate more on what's wrong on the screenshot? And what is `C-o`? To open menu with actions (e.g. `ivy-dispatching-done`)?

Regarding word deletion - I can't reproduce nor with my configs nor with bare Emacs. As you can see in the following two screenshots: (1) I called `flyspell-correct-wrapper` and hit `M-o` (`ivy-dispatching-done`) and (2) the state after I pre

[2020-09-01 06:28] d12frosted commented on #83
Just upgraded all my packages and still can't reproduce the second part. Will try to check doom configurations.

[2020-09-02 14:41] d12frosted commented on #82
Hey @gusbrs

As always, thank you very much for your feedback!

Can't agree more! To be honest, the only times I use arguments - when I want to start rapid mode. Directions? I don't remember how it works.

I understand.

Thank you for sharing it :)

[2020-09-02 14:46] d12frosted commented on #80
Cool. I am glad that you are using that things from #58 :)

---

PR is welcome :) Regardless the stop/C-g thing.

[2020-09-02 15:16] d12frosted commented on #81
@gusbrs totally agree! I also don't like this idea.

I love your second example. Simplified hydra. Though please note, that `skip` is not the same as rapid mode. Rapid mode also jumps to the next misspelled word *after* correction.

Don't worry, I love to get more and more usecases.

Cool. Thanks.

---

The more I think about the less I like the idea of having configuration variable.

We have two

[2020-09-02 16:53] gusbrs commented on #80
More than "using", this has become a game changer for my use. As far as "killer features" go, this is currently only second to returning point after correction.  ;-)

I'm glad to try my hands on a PR. But I've got some further thoughts on mark setting, which I thought I'd share first.

Besides what I've mentioned above, I has struck me that `flyspell-correct` is pretty aggressive in its mark setti

[2020-09-02 17:24] gusbrs commented on #81
I like it. Very much. +1

I've just one small thing to add. In this setting, with a heavier reliance on actions for basic aspects of the UI, it would be nice if the actions could be called by commands, and bound to keys, in a more institutionalized way than setting the value of an internal variable, as is done in https://github.com/d12frosted/flyspell-correct/issues/58#issuecomment-586598691.

[2020-09-02 17:40] gusbrs commented on #82
:-D

Well, thinking of it, this little function of mine is really just useful for those with the `skip` binding of #58 . I'm afraid I might be the only one. So I'll close this and leave this here "for the record" and for the reference of the more curious. ;-)

[2020-09-02 17:40] #82 closed

[2020-09-03 06:13] d12frosted commented on #80
For two reasons. The first one is historical. And the second one is me who didn't think about it. As you can see, mark pushing is not consistent and not thought through.

Totally agree. So actions like `skip` should not push the mark.

Regarding the place - I think `flyspell-correct-move` is a better place. I totally agree that `flyspell-correct-at-point` when used directly should not push mark. O

[2020-09-03 06:14] d12frosted commented on #81
Totally agree. This should be also done.

[2020-09-03 06:22] d12frosted commented on #81
Just had a though that action for changing direction is not the same as `C-u C-u flyspell-correct-wrapper`. In a sense that now you have to bind two functions. So maybe we should leave `flyspell-correct-wrapper` as is for people willing to have one dwim-style function.

[2020-09-03 06:31] d12frosted commented on #81
And also, I am not sure about how this action (for changing direction) should work. I think it should act like `skip` (e.g. do nothing to misspelled word at point), but then it looks frustrating.

For example, I have mistakes before and after the point. I am calling `flyspell-correct-previous` in a rapid mode. I get to the last mistake. And I want to correct it and then switch direction. I can't u

[2020-09-03 10:57] gusbrs commented on #81
In the general case, true. But not necessarily we have to bind two outer-level bindings for it, provided the interface has a dedicated keymap. In which case we can have a single point of entry in the global-map, and other bindings in the interface keymap.

I think these changes will make `flyspell-correct-wrapper` less attractive, but I can see that some people might still want it as providing a s

[2020-09-03 11:02] gusbrs commented on #80
Great! I'll prepare it.

[2020-09-03 18:19] gusbrs commented on #80
Hi @d12frosted , PR done!

I add some comments on it here.

I ended wrapping the `flyspell-correct-move` `save-excursion` block into `unwind-protect` for this, the reason I did this was that a mark clean-up was needed even when leaving with "C-g". Doing so made the diff look large, due to indentation change, but I really just tampered with mark related code. Still, I do think the `unwind-protect`

[2020-09-03 22:18] gusbrs commented on #80
Nah, that was a bug... Pre-existing, to be fair. Details in a second commit made to the PR, which fixes it.

[2020-09-04 05:27] d12frosted commented on #80
Yes, good point. Thanks for doing this.

[2020-09-14 12:19] atanasj commented on #83
Sorry for the tardy reply @d12frosted.

With the screenshot it is cutting of the 'save' option for the correction.

I believe this is what it does... This is the command to have the options presented e.g., save, skip, etc.

It must be an issues either in my configuration or something to do with doom... Found [this issue](https://github.com/hlissner/doom-emacs/issues/3890), however I have no clue i

[2020-09-20 12:04] d12frosted commented on #83
Right, didn't notice.

I am trying to run Doom Emacs to reproduce the bug, but it throws errors during `doom sync` execution. So digging through that.

[2020-09-22 11:33] d12frosted commented on #83
Found a way around. So I tried to reproduce and with very minimal setup (e.g. most of the modules where disabled) I could reproduce only original issue where `save` is not visible. But saving doesn't break anything. I am not familiar with doom enough to say what is wrong though. Maybe try disabling modules to see if something fixes it.

![doom-flyspell-correct](https://user-images.githubuserconten

[2020-11-16 05:35] atanasj commented on #83
Sorry for my slow response... The original issues is resolved (can see the full list of options). However, the second issues remains. Any suggestions regarding which modules I should try and disable? See below for a list of `minor-modes` present when this error occurs (apologies for the verbosity, I just ran `describe-mode`, but not sure if this is the best way):

[code]

[2020-11-16 05:46] atanasj commented on #83
An addendum. I have deactivated the following `minor-modes` without any effect:

[code]

[2020-11-16 05:49] d12frosted commented on #83
I think I reproduced the issue with vanishing word. But only once and did not understand what caused that (plust I was in a meeting, could not stop and debug). Will keep looking.

[2020-11-16 09:38] atanasj commented on #83
Awesome, thanks @d12frosted for you work.

[2020-11-30 19:19] d12frosted commented on #83
Alright. I have two versions of Emacs - 27 and 28. I mostly use 28, but for some reason I tested this issue only in Emacs 27, where it works perfectly. But it does not work in Emacs 28 😸 And it seems that I actually rarely save new words to the dictionary 🤔 I try not to come up with new words 🤣

In any case, now I have 100% reproduction steps and will check what has changed in flyspell.

[2020-11-30 19:20] d12frosted commented on #83
🤣 disregard, now I can't reproduce in Emacs 28 🤔

[2020-11-30 19:22] d12frosted commented on #83
Alright, now I do understand. I removes word completely in case there are no completions! E.g. if the word is so unique that there are no available spelling corrections. For example, try to save `worldoflyspellcorrect` 😸

[2020-11-30 19:51] d12frosted commented on #83
@atanasj 🎉 figured that out - https://github.com/d12frosted/flyspell-correct/pull/85

[2020-11-30 20:32] #83 closed

[2020-11-30 20:33] d12frosted commented on #83
Took some time, but the fix is in master now.

[2020-11-30 21:59] atanasj commented on #83
Thanks for the work @d12frosted. I just downloaded the latest version from this repo but still not working. I'm not sure if it is  because I am now using emacs version 27 (`magit` wasn't working for me in version 28, so went back down).

[code]

My config in `doom` is:

[code]

Not sure what else could be going wrong... :-(

[2020-12-01 06:25] d12frosted commented on #83
Hey, sorry forgot to tell you that the 'bug' was in the `ivy` interface, so you need to update `flyspell-correct-ivy`.

P. S. Strictly speaking, this inconsistency should be reported upstream as well 🤔

[2020-12-01 08:27] d12frosted commented on #83
BTW, @atanasj thank you very much for detailed reports. It is always a pleasure to have all required information 💯

[2020-12-01 10:47] atanasj commented on #83
Thanks @d12frosted. I actually did update `flyspell-correct-ivy` as per below:

[code]

… But still not working. So, is this is a problem with `ivy` then?

[2020-12-01 10:51] d12frosted commented on #83
@atanasj :thinking: do you have `flyspell-correct-ivy--result` function defined?

[2020-12-01 12:53] atanasj commented on #83
I just checked and it was set to `nil`. I added this:

[code]
And then tried this:
[code]
However, it seems that in the buffer I am testing it in, the variable continues to reset to `nil`...

What should the value of the variable be?

[2020-12-01 12:59] d12frosted commented on #83
No, it was meant to be a function :) Since it's not defined, it means that you are using old version of `flyspell-correct-ivy`. I am not sure (and can't check right now), but if you are using `straight.el` for package management, then you must provide `:files` property in `flyspell-correct-ivy` recipe. This feature is described in [straight.el README][1]. File is `flyspell-correct-ivy.el`. Checkou

[2020-12-02 05:17] atanasj commented on #83
Still not working. This is what I've got in my `packages.el`:

[code]

[2020-12-02 06:58] d12frosted commented on #83
Sorry, I am not using `doom`, so let me share ideas I got from reading it's documentation:

1. Check what is in `~/.emacs.d/.local/straight/repos/flyspell-correct/flyspell-correct-ivy.el`. It should contain definition of *function* `flyspell-correct-ivy--process-input` (sorry, I have to rename it to avoid confusion with variable).
2. If it's not there, then please make sure to do `doom sync -u`. G

[2020-12-02 12:55] atanasj commented on #83
Okay. So I have updated to emacs 28. I have reinstalled built `doom` clean and reinstalled everything. However, when installing `flyspell-correct` it does not installed the updated `flyspell-correct-ivy.el` file. I manually copied in your new code with the `flyspell-correct-ivy--process-input` function, recompiled `doom`, and still not working.

I'm lost! What else could I try?

[2020-12-02 17:05] d12frosted commented on #83
I fear it might be related to package pinning in doom. Let me try to install doom and see how it works.

[2020-12-02 17:32] d12frosted commented on #83
TL;DR: use `unpin!` to unpin `flyspell-correct` and `flyspell-correct-ivy`:

[code]

---

So right after I enabled `(spell +flyspell)` module and run `doom sync` I saw the following output:

[code]

So by default it checked out kind of old commit - https://github.com/d12frosted/flyspell-correct/commit/6d603a1dc51918f7f8aaf99dd5443f74a0afc794 (4 September).

This happens because `spell` [module pin

[2020-12-02 22:39] atanasj commented on #83
Awesome, that did the trick!! Thanks so much for the help, effort and quality… Truly appreciated!!! 🥇

[2020-12-03 06:18] d12frosted commented on #83
Yay! Happy to hear that that did the trick :) And now the most important question - does my change fix your issue? :)

[2020-12-13 22:48] atanasj commented on #83
That is working great now... Thanks so much!! 😀

[2021-02-18 10:15] thomasheartman opened #90 "Can't 'accept' correction with keyboard (flyspell-correct-popup)"
I have an issue where sometimes (fairly often), 'accepting' an entry from the popup menu doesn't work when using the keyboard. That is, when using one of the `flyspell-correct-` functions, the popup opens with the expected options, but nothing happens when I press `<return>`. Navigation and cancellation works just fine, and selecting an option with the mouse also seems to work, just not with the k

[2021-02-22 06:44] d12frosted commented on #90
Hey,

Curious issue. I am returning from vacation and will test it by myself once I have a solid I/C. So far I have the following questions and ideas.

1. Could you please try to reproduce the issue in `emacs -Q` mode? It might be that some of your configurations are interfering. Especially for org-mode/popup.
2. What Emacs version are you using?
3. Could you please run the following code in `org-

[2021-02-22 06:48] d12frosted commented on #90
I juse checked your [dotfiles][1] and have few more options to check. I see that you do some magic around `<return>`, for example:

1. [multiple-cursors][2];
2. You bind `<return>` to `my-evil-insert-line-below`.

Could you please disable these configs to validate if it resolves the issue?

  [1]: https://github.com/thomasheartman/dotfiles/blob/main/.emacs.d/config.org
  [2]: https://github.com/th

[2021-02-22 15:14] thomasheartman commented on #90
Ooh, I think you're on to something there! I don't have the time right now to delve much deeper into it, but I think I found what's causing it:

It seems that if the popup opens while I'm in normal mode, then I can't accept the corrections, whereas if I'm in insert mode it *does* work. As such, you're probably right in that it's the `my-evil-insert-line-below` mapping that causes it.

I'm not enti

[2021-02-23 17:46] d12frosted commented on #90
I am not using Evil, so can's say for sure 😺 . I guess so. And I think that either your configuration or evil in general (this is something you can easily check by commenting your override of `<return>`) is overriding `popup-menu-keymap` or interfiring `popup-menu-read-key-sequence` in some way.

You can check what `<return>` is bound to in `normal` mode by default in evil, might be helpful if by

[2021-02-24 07:48] thomasheartman commented on #90
I think you're spot on with what you're saying! If I don't map `<return>` in normal mode, then it seems that Evil doesn't map it at all, and the selection works as expected. Luckily, Evil provides a variable called `evil-overriding-maps` which is a list of keymaps that should override Evil maps. Allowing `popup-menu-keymap` to override evil is part of fixing the issue:

[code]

However, even with

[2021-02-24 08:15] d12frosted commented on #90
This is what I saw as well. And AFAIK these are equivalent (and I am sure there are many more options including `C-m` variants, 13 - code of `\r` char, `^M` etc):

[code]

Emacs has adopted multiple ways to represent non-printable characters. Some come from C langauge (e.g. `\r`), some come from... 🤔 I don't know where 😸 I bet the answer for the most important question would be - for historical re

[2021-02-24 08:15] #90 closed

[2021-02-25 07:43] d12frosted commented on #90
@thomasheartman Look what I found - http://ergoemacs.org/emacs/keystroke_rep.html . Explains the situation a little bit.

[2021-02-25 09:32] thomasheartman commented on #90
Nice; thanks! That still doesn't explain why the explicit return mapping would be necessary though (considering that `\r` and `<return>` should be the same character).  I tried removing the `<return>` mapping in favor of a `\r` mapping and it didn't work, but using `<return>` works. Could it be that my evil mapping takes precedence in this case? :thinking:

[2021-07-22 19:36] minad opened #93 "Feature request: Show number of spelling errors in prompt"
Show the the index of the current spelling error and the total number of errors (`current/total`) in the prompt of the completing-read/ivy/ido/helm interface.

[2021-07-23 05:14] d12frosted commented on #93
Totally agree that it would be helpful. Feel free to send a PR 😄

[2021-07-24 06:38] minad commented on #80
I would like to have C-g to always stop. Then we could even remove the STOP actions from the frontends.

[2021-07-24 08:12] d12frosted commented on #80
The more I think about it, the more I agree that it just should STOP, as you still can return to the previous place by popping the mark. @minad care to send a PR? 😸

[2021-07-24 08:38] minad commented on #80
Maybe I will send a PR (no promises!), but with my PR #94 I am already very happy with the functionality offered by your package :)

[2021-08-10 04:47] Stebalien opened #95 "Buffer-local post-command-hook"
It turns out minibuffer buffers are reused. Seems a bit nuts, but that's how it is. Unfortunately, this means the `post-command-hook` registered by this library sticks around.

To reproduce:

1. Type a misspelled word.
2. Run flyspell-correct, exit without selecting anything.
3. Open any minibuffer (e.g., read-string, M-x, etc.).
4. Type "1".

The minibuffer will exit.

[2021-08-10 06:50] d12frosted commented on #95
Hey @Stebalien, just tried to reproduce, but failed to. How do you exit `flyspell-correct` in the second step? I used `C-g`.

And btw, what completion framework and interface are you using? In my case it's `selectrum` and `flyspell-correct-completing-read`.

[2021-08-10 06:51] d12frosted commented on #95
Ah, and just FYI/cc @minad 😸

[2021-08-10 07:37] Stebalien commented on #95
vertico (but I can reproduce with the default as well) and flyspell-correct-at-point. And exiting with `C-g` does it.

[2021-08-11 02:43] minad commented on #95
No, this is not the case. There is a bug with `lambda` expressions in hooks however, which is probably triggered here. But this only happens in combination with some other packages, e.g., evil. I assume you cannot reproduce the issue with emacs -Q?

In Consult I am using a symbol indirection to avoid the problem: https://github.com/minad/consult/blob/9acd32a764b6990d89eb1c9d74e1c43f6eaa24aa/consul

[2021-08-11 04:13] Stebalien commented on #95
Ah, I see. So the minibuffer _is_ reused, but there's was a bug in kill-all-local-variables (this one? https://git.savannah.gnu.org/cgit/emacs.git/commit/etc/NEWS?id=b4fabb316dfe59c75525cd37eaf87020582a9d12).

And yeah, I use evil. I will try to make fewer assumptions next time.

[2021-08-11 04:18] Stebalien commented on #95
Yep. That fixes it.

[2021-08-11 04:21] minad commented on #95
Okay, it seems like it. This is nonsense. At least the cleanup is fixed now.

[2021-09-19 20:45] notuntoward opened #97 "Does personal dictionary save work?"
I'm using `flyspell-correct` and` flyspell-correct-ivy` and I have a question: Should I expect the "Save" button to save to my personal dictionary?

When I see that a word not in the default `hunspell `dictionary is marked as misspelled, I type` C-; `and then `M-o s`.  After that, I see the squiggly misspelled error face disappear, along with a message in the mini-buffer, saying:  "Personal dictio

[2021-09-20 15:43] d12frosted commented on #97
Hey @notuntoward,

I think it might be related to overloading `ispell-dictionary-alist`. Could you please try without these modifications and see if that works?

Also, does `~/.hunspell` exist? It might silently fail if that directory does not exist.

I actually never used `hunspell`, maybe there is more sources of problems. I am using `aspell` and it works flawlessly. Just for the record, this is

[2021-09-21 18:11] notuntoward commented on #97
Thanks for the reply.  Yes, `~/.hunspell `exists, and `flyspell_check` successfully uses the dictionaries installed there to correct spelling.  It's just saving to the personal dictionaries that doesn't work.  Too ba, because I'm having difficulty installing aspell on Windows.

However, on MacOS, aspell installation was easy, and a setup like yours does correctly save to a personal dictionary.

[2021-09-22 02:24] #97 closed

[2021-09-22 02:24] notuntoward commented on #97
Closed since it seems to be a hunspell problem, not one with flyspell_check.

[2021-12-01 23:10] gety9 commented on #97
@notuntoward

Hi there, i am also on windows and made it work so posting in case it will be helpful to someone. I did 2 things:

1. added `ispell-personal-dictionary` variable where i want personal dictionary to be
`(setq ispell-personal-dictionary "e:/Dropbox/Hunspell_en_US")`

2. Manually created above file.
Without it after pressing "SAVE" Flyspell pop-up was saying that word is saved to person

[2022-02-10 10:52] ChauhanT opened #103 "flyspell-correct a region"
Hi,
I was wondering if there is a built-in way to run `flyspell-correct` on a selected region. So far, I have got this:

[code]
While it does indeed run `flyspell` on the selected region, but after doing that, it proceeds to spellcheck the entire buffer with `flyspell-correct`! Any help/tips/links would be very welcome. And apologies if this is not the right forum for this question. I'm happy to i

[2022-02-16 06:47] d12frosted commented on #103
Hi,

That's because `flyspell-correct-wrapper` doesn't care about regions at all and was implemented with a slightly different use case in mind. I'd say that region correction is about active spell fixing and not about writing, while `flyspell-correct-wrapper` is about active writing and spell fixing on the go. I type the text and then I notice that I have a typo, I call `flyspell-correct-wrapper`

[2022-02-16 08:43] ChauhanT commented on #103
Hi,

Thanks. That was a great answer to read because it also goes into the philosophy of your implementation (active spellchecking vs. writing). As you might have seen from the code I included, I am rather bad at elisp since I use it only very occasionally and I probably know about 0.5% of what elisp has to offer.

I will try to implement something like `flyspell-correct-region` (thanks for the ti

[2022-11-09 20:52] kunhtkun opened #106 "Correcting words with `flyspell-mode` disabled?"
Hi!

Thanks for this package! I really enjoy it.

Occasionally I need spell-checking without `flyspell-mode`. In that case I would use `ispell-word`. However, I really like the interface of this package and want to use it as a replacement of `ispell-word`.

I wonder if it is a reasonable goal of this project to provide and maintain some commands that work without `flyspell-mode`?

Thanks!

PS: Cur

[2022-11-11 00:24] kunhtkun commented on #103
FWIW, you may use `narrow-to-region` in this case:

[code]

Not quite ideal because you cannot see other parts of the buffer while correcting words. So IMO a dedicated command without narrowing is still useful.